/*-- scss:defaults --*/
$link-color: #CA1F7B;
$toc-font-size: 12pt;
$body-bg: #190E14;
$body-color: #DAC2CF;


img {
  border-radius: 8px !important; 
}


.fem {
  background-color: #CA1F7B;
  color: #190E14;
  padding: 0px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 1px;
  margin-right: 1px;
  white-space: pre;
}

.masc {
  background-color: #8A3E88;
  color: #190E14;
  padding: 0px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 1px;
  margin-right: 1px;
  white-space: pre;
}